body {

    font-family: Hind;
}
.block1 {
    width: 100%;
    height: 40px;
    background: rgba(237, 237, 237, 0.25);

}
.qq {
    display: inline-block;
width: 100px;
    height: 20px;
    margin-left:20px;
    margin-top:10px;
    float:left;
    color: white;

}
.spisok {
    color: white;
    background: black;
}

.ee {
    width: 200px;
    height: 20px;
    float:left;
    margin-left:20px;
    margin-top:10px;
}
.rr {
    float:left;
    width: 350px;
    height: 20px;

    margin-top:10px;
}
.fa fa-paper-plane {

    width: 20px;
    height: 20px;
}
.tt {
    width: 200px;
    height: 20px;
}
.yy {
    display:inline-block;
    width: 100px;
    height: 20px;
    float:left;
    margin-left:700px;
    margin-top:10px;

}
.uu {
    width: 150px;
    height: 20px;
    float:left;
    margin-top:10px;
}
.ii {
    width: 150px;
    height: 20px;
    float:left;
    margin-top:10px;
}
.pismo {

    margin-top:10px;
    float:left;
    margin-left:300px;
}
.yt {
    margin-top:10px;
    float:left;
    margin-left: 20px;
}
.G {
    margin-top:10px;
    float:left;
    margin-left: 20px;
}
.in {
    margin-top:10px;
    float:left;
    margin-left: 20px;


}
.tw {
    margin-top:10px;
    float:left;
    margin-left: 20px;
}

a {
    text-decoration: none;

}
.icon {}