      /*      Начало    */


body {
    font: 400 14px/1.5 'Hind', sans-serif;
    color: #565655;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #333;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;

}







      * {
          margin: 0;
          padding: 0;
      }
      /*    HEADER   */
      body {

      }

 .Block {
     font-size: 14px;
 }

      .block1 {


          display: inline-block;
          width: 70%;

          float:left;
          white-space: nowrap;
          height: 65px;
          background-color: #ededed;

      }
      .block2 {

          width: 30%;
          display: inline-block;
          float:right;
          height: 65px;
          background: #EDEDED;



      }
      .philadelphia {

          width: 120px;
          height: 30px;
          margin-left:100px;
          margin-top:20px;
          float:left;
          color: white;
          border-radius: 5%;

          background: black;


      }


      .Toll-free{
          width: 200px;
          height: 20px;
          float:left;
          margin-left:30px;
          margin-top:20px;

      }

      .Industrial {
          float:left;
          width: 350px;
          height: 20px;

          margin-top:20px;
      }

      .letter
      {

          display: inline-block;
          margin-top:20px;
          float:left;
          margin-left:90px;


      }
      .youtube {
          margin-top:20px;
          float:left;
          margin-left: 20px;
          display: inline-block;

      }
      .Google {
          margin-top:20px;
          float:left;
          margin-left: 20px;
          display: inline-block;
      }
      .Ln {
          margin-top:20px;
          float:left;
          margin-left: 20px;
          display: inline-block;


      }
      .twitter {
          margin-top:20px;
          float:left;
          margin-left: 20px;
          display: inline-block;
      }



.fa-angle-down {
    margin-left: 15px;
    font-size: 18px;
    margin-top: 2px;
}

.mobile-menu {

    color: #fff;
    font-size: 24px;
    margin-top: 20px;
    display: none;

}

/****   BLOCK2   */
.logo {
    padding: 29px 100px;
    background: #fff;
    height: 150px;
}

.logo1 {
    padding-top: 30px;
    float: left;

}

.static {
    float: right;
    margin-top: 17px;
}

.title {
    margin-top: 30px;
    color: #000;
    font-weight: 600;
    font-size: 15px;

}
.fa-check-circle-o {
    margin-top:30px;
}
.static li p:first-of-type {
    float: left;
    margin-right: 15px;
    color: #000;
    font-size: 18px;


}


.static li p:last-of-type {
    display: inline-block;
}

.static p > span {
    display: block;
}

.static ul li {
    padding-right: 35px;
    border-right: 1px solid #e6e6e6;
    margin-right: 20px;
}

.static ul li:last-of-type {
    border-right: none;
    padding-right: 0;
    margin-right: 0;
}


/*  BLOCK3  */

.navigation {
    background: #000000;
    padding: 0 100px;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 99;
height: 70px;


}

.navigation nav {
    float: left;

}

nav li a {
    margin-top: 10px;
    color: #fff;
    font-size: 16px;
    padding: 0px 16px 16px;
    display: inline-block;
    text-transform: uppercase;
    position: relative;



}
nav li a:before{
    content: '';
    position: absolute;
    height: 7px;
    width: 0;
    bottom: 0;
    background: #bd2631;
    left: 0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;

    -o-transition: all .5s;
    transition: all .5s;


}
nav li a:hover:before {
    width: 100%;

}


.search {
    height: 40px;
    width:40px;
    float: right;
    color: #fff;
    line-height: 3.5;
    font-size: 19px;
    cursor: pointer;



}
.fotki {

    display: inline-block;
}

.foto {
height: 445px;
    display: inline-block;
}
.fotka1 {
width: 50%;
float: left;


}
.fotka2 {
    float: left;
width: 25%;
}
.fotka3 {
    float:right;
    width: 25%;
}

.foto2 {height: 440px;
          display: inline-block;
      }

      .fotka4 {
          width: 25%;
          float: left;


      }
      .fotka5 {
          float: left;
          width: 25%;
      }
      .fotka6 {
          float:left;
          width: 50%;
      }
  .foto3 {

      display: inline-block;
  }

      .fotka7 {
          width: 50%;
          float: left;


      }
      .fotka8 {
          float: left;
          width: 25%;
      }
      .fotka9 {
          float:right;
          width: 25%;
      }




